.dashboard__container__left{
    flex: 0.2;
    border-radius: 20px 0 0 20px;
    background-image: url(https://img.freepik.com/free-vector/minimalist-white-background-with-neumorphic-circle_1017-39167.jpg),linear-gradient(var(--color-bg-dashboard),var(--color-bg-dashboard));
    background-blend-mode: multiply;
    color: var(--color-white);
    
}
.container__left__logo{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.logo__image{
    width: 40px;
    height: 40px;
} 
.container__left__list{
    padding-left: 40px;
    list-style: none;
    margin-top: 50px;
}
.container__left__list__item{
    padding: 10px;
    margin: 10px 0;
    border-radius: 30px 0 0 30px;
}
.list__item__link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-white);
    gap: 10px;
    cursor: pointer;
}
.list__item__icon{
    height: 25px;
    width: 25px;
}
.container__left__list__item.active{
    background-color: var(--color-white);
    position: relative;
}
.container__left__list__item.active .list__item__link{
    color: var(--color-bg-dashboard);
}
.container__left__list__item.active::before{
    content: '';
    position: absolute;
    right: 0;
    top: -45px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    box-shadow: 25px 25px 0 var(--color-white);
}
.container__left__list__item.active::after{
    content: '';
    position: absolute;
    right: 0;
    top: 45px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    box-shadow: 25px -25px 0 var(--color-white);
}
.container__left__list__item:not(.active):hover{
    background-color: var(--color-dark-purple);
    transition: background ease-in-out 0.3s;
}
@media screen and (max-width:1250px) {
    .list__item__name{
        display: none;
    }
    .dashboard__container__left{
        flex: none;
    }
    .container__left__list{
        padding-left: 10px;
    }
    .container__left__list__item:not(.active):hover{
        background-color: transparent !important;
    }
}
@media screen and (max-width:875px) {
    .dashboard__container__left{
        border-radius: 0;
        position: sticky;
        bottom: 0;
        z-index: 1;
    }
    .container__left__list{
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: space-evenly;
        background-color: var(--color-white);
    }
    .container__left__logo{
        display: none;
    }
    .container__left__list__item,.container__left__list__item:hover{
        background-color: transparent !important;
        border-radius: 0;
        padding: 20px;
        margin: 2px 0;
    }
    .list__item__link{
        color: var(--color-gray-gray);
    }
    .container__left__list__item.active{
        border-bottom: 2px solid var(--color-bg-dashboard);
    }
    .container__left__list__item.active::after,.container__left__list__item.active::before{
        content: '';
        height: 0;
        width: 0;
    }
}