.accordion-container {
    border: 1px solid var(--color-bglight-dashboard);
    border-radius: 4px;
  }
  
  .accordion-title {
    padding: 10px;
    background-color: var(--color-bglight-dashboard);
    font-weight: bold;
    cursor: pointer;
    color: white;
    transition: background-color 0.2s ease-in-out;
  }
  
  .accordion-title.active {
    background-color: var(--color-bg-dashboard);
  }
  
  .accordion-content {
    padding: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height .5s ease-in-out, padding .5s ease-in-out;
  }
  
  .accordion-content.open {
    opacity: 1;
    padding: 20px;
    max-height: 300px;
  }
  