.headservices{
    position: relative;
    background-color: white;
    top: -80px;
    /* min-width: 50%;
    max-width: 50%; */
    /* width: 50%; */
    /* height: 100px; */
    padding: 1rem;
    margin: auto;
    box-shadow: 0 10px 10px rgb(0, 0, 0,.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  
  .headservices_service{
    width: 180px;
    /* height: 100%; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 5px;
  }
  
  .headservices_service:hover{
    background-color: rgb(231, 231, 231);
  }



  
