.subfooter{
    border-top: 1px solid rgb(0, 0, 0,.2);
    border-bottom: 1px solid rgb(0, 0, 0,.2);
    background-color: #98639d;
    display: flex;
    flex-wrap: wrap;
    min-height: 60px;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    padding: 1rem;
    color: white;
  }


 