@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
  --color-white:#faf9fa;
  --color-dark-purple :#200525;
  --color-bg-dashboard : #611f69;
  --color-bglight-dashboard : #8c4c93;
  --color-primary : #4ba4ff;
  --color-yellow: #FFB72B;
  --color-gray-gray: #645a65;
  --color-light-pink: #dfd2e1;
  --color-text:#645a65;
  --color-success :#52ccb4;
  --color-red:#f54456;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

nav{
  position: relative;
  top: 0;
  background-color: transparent;
  color: white;
  min-height: 56px;
  height: 56px;
  z-index: 500;
}
.nav-mob-bar{
  display: none;
}
.mobile-nav{
  display: none;
  width: 100%;
  background-color: white;
  color: black;
  /* padding: 1rem; */
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.mobile-nav form{
  width: 80%;
  height: 40px;
  position: relative;
  border-radius: 10px;
  margin: 1rem auto;
}
.mobile-nav form input{
  width: 100%;
  height: inherit;
  border-radius: inherit;
  border: 1px solid rgb(183, 183, 183);
  padding-left: 1rem;
}
.mobile-nav form input:focus{
  outline-color: rgb(126, 126, 126);
}
.mobile-nav form button{
  position: absolute;
  background-color: transparent;
  border: none;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 1.1rem;
  cursor: pointer;
}
/* .mobile-nav .nav-links-menu{
  padding: 1rem;
} */
.mobile-nav>div{
  text-align: center;
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid rgb(235, 235, 235);
}
nav .nav-logo{
  cursor: pointer;
}

nav .nav-wrapper{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
nav .nav-wrapper .nav-links{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 100%;
}
nav .nav-wrapper .nav-links .nav-links-menu{
  cursor: pointer;
}

nav .nav-wrapper .nav-links form{
  position: relative;
  /* background-color: aqua; */
  width: 50%;
  height: 30px;
  
}
nav .nav-wrapper .nav-links form input{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 1rem;
}
nav .nav-wrapper .nav-links form input:focus{
  outline: none;
}
nav .nav-wrapper .nav-links form button{
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0;
  margin: auto;
  border: none;
  background-color: transparent;
  border-radius: inherit;
  cursor: pointer;
}


.slider{
  height: 80vh;
  position: relative;
  top: -56px;
}
.slider-wrapper{
  width: 100%;
  height: 100%;
}
.slider-wrapper .slide1 img{
  width: 100%;
  height: 80vh;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.slide-filter{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0,.3);
}
.slide-text{
  position: absolute;
  text-transform:uppercase;
  color: white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  letter-spacing: .5rem;
  line-height: 3rem;

}
.slide-text div span{
  position: relative;
  z-index: 1;
}
.slide-text div span::before{
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  width: 100%;
  background-color: var(--color-bglight-dashboard);
  padding: 1.5rem 0;
  border-radius: 5px;
  transform-origin: center;
  transform: rotate(2deg);
  z-index: -1;
  transition: transform .6s;
}
.slide-text div span:hover{
  color: var(--color-bglight-dashboard);
}
.slide-text div span:hover::before{
  transform: rotate(-2deg);
  background-color: white;
}


.headservices{
  position: relative;
  background-color: white;
  top: -80px;
  /* min-width: 50%;
  max-width: 50%; */
  /* width: 50%; */
  /* height: 100px; */
  padding: 1rem;
  margin: auto;
  box-shadow: 0 10px 10px rgb(0, 0, 0,.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.headservices_service{
  width: 180px;
  /* height: 100%; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.headservices_service:hover{
  background-color: rgb(231, 231, 231);
}

.services{
  width: 100%;
  padding: 1rem;
}
.services-heading{
  text-align: center;
}
.services-heading div{
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
}
.services-heading p{
  margin: 1rem;
  color: rgb(126, 126, 126);
}


.services__list{
  width: 100%;
  position: relative;
  /* background-color: aqua; */
  height: 500px;
}
.services__list__arrows{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
}
.services__list__arrows_right{
  right: 0;
}
.services__list__arrows_left{
  left: 0;
}
.arrow-icon{
  background-color: rgb(195, 195, 195);
  padding: 4rem 1rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  z-index: 10;
  opacity: .5;
  transition: opacity .5s;
}
.arrow-icon:hover{
  opacity: 1;
}
.services__list .services__list_wrap{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  /* padding: 0 1rem; */
  gap: 20px;
  scroll-snap-align: center;
}
.services__list .services__list_wrap .services__card{
  width: 300px;
  /* height: 450px; */
  border-radius: 10px;
  box-shadow: 0 5px 10px rgb(193, 193, 193,.5);
  flex-shrink: 0;
}
.services__card:hover .services__card-img-holder img{
  transform: scale(1.2);
}
.services__list .services__list_wrap .services__card .services__card-img-holder{
  overflow: hidden;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
}
.services__list .services__list_wrap .services__card .services__card-img-holder img{
  max-width: 100%;
  object-fit: cover;
  transition: transform .5s;
}
.services__list .services__list_wrap .services__card-body{
  padding: 1rem;
}
.services__list .services__list_wrap .services__card-body div:first-child{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services__list .services__list_wrap .services__card-body :first-child :last-child{
  display: flex;
  align-items: center;
  gap: 5px;
}
.services__card-body_title{
  font-size: 1.5rem;
  padding: .5rem 0;
  font-weight: 500;
}
.services__card-dec{
  color: rgb(130, 130, 130);
}
.services__card-price-btn{
  font-size: 1.3rem;
}
.services__card-price-btn-price{
  justify-content: flex-start!important;
  gap: 10px;
  margin: .2rem 0;
}
.services__card-price-btn-price :first-child{
  font-size: 1rem;
  color: var(--color-bglight-dashboard);
  font-weight: 600;
}
.services__card-price-btn-price span:last-child{
  font-weight: 600;
  font-size: 1.5rem;
}
.services__card-price-btn button{
  width: 100%;
  cursor: pointer;
  border: none;
  background-color: var(--color-bglight-dashboard);
  color: white;
  padding: .8rem 0;
  border-radius: 5px;
}

.services__card-pricebtn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.services__card-pricebtn div:first-child{
  font-size: 1.3rem;
  font-weight: 600;
}
.services__card-pricebtn button{
  border: none;
  padding: .5rem 1rem;
  background-color: var(--color-bglight-dashboard);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.servicesAds{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(236, 236, 236);
  padding: 4rem 1rem;
  margin: 5rem 0;
  gap: 20px;
}
.servicesAds_img_holder{
  width: 320px;
  overflow: hidden;
  transition: transform .5s;
  cursor: pointer;
  border-radius: 15px;
}
.servicesAds_img_holder:hover{
  transform: scale(1.05);
}
.servicesAds_img_holder img{
  max-width: 100%;
  object-fit: cover;
}

.otherServies{
  width: 100%;
  height: fit-content;
  /* margin: 5rem 0; */
  /* border-top: 2px solid rgb(67, 67, 67,.2);
  border-bottom: 2px solid rgb(67, 67, 67,.2);; */
  padding: 7rem 0;

}
.otherServies-wrap{
  overflow: hidden;
}

.otherServies-wrap_head{
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  padding: 1rem 0;

}
.otherServies-wrap_Serviceslist_wrap{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-shrink: 0;
  padding: 0 1rem;
  gap: 10px;
 
}
.otherServies-wrap_Serviceslist_wrap_card{
  width: 266px;
  height: 250px;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* flex-shrink: 0; */
  cursor: pointer;
}


.otherServies-wrap_Serviceslist_wrap_card_imgHolder{
  width: 100%;
  height: 70%;
  overflow: hidden;
}
.shine{
  position: relative;
}
.shine::before{
  content: '';
  position: absolute;
  top: 0;
  left: -100px;
  width: 70px;
  height: 200px;
  background-color: rgba(255,255,255, 0.2);
  transform: skewX(-30deg);
  transition: left .5s;
  opacity: 0;
}

.otherServies-wrap_Serviceslist_wrap_card_imgHolder:hover::before{
  left: 320px;
  opacity: 1;
}
.otherServies-wrap_Serviceslist_wrap_card_imgHolder img{
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.ourMarketplace{
  width: 100%;
  background-color: rgba(240, 240, 240, 0.4);
  min-height: 200px;
  padding: 5rem 0;
  position: relative;
  overflow: hidden;
}
.ourMarketplace_shapes{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.ourMarketplace_shapes img{
  position: absolute;
}
.ourMarketplace_shapes img:nth-child(1){
  bottom: 100px;
  left: 60px;
}
.ourMarketplace_shapes img:nth-child(2){
  top: 60px;
  left: 60px;
}
.ourMarketplace_shapes img:nth-child(3){
  right: 50px;
  top: 80px;
}
.ourMarketplace_shapes img:nth-child(4){
  right: 0;
  bottom: 80px;
}

.ourMarketplace_wrap{
  padding: 1rem;
}
.ourMarketplace_wrap_head{
  text-align: center;
}
.ourMarketplace_wrap_head_title{
  font-size: 2rem;
  font-weight: 600;
}

.ourMarketplace_wrap_body{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 2rem 0;
}

.ourMarketplace_wrap_body_card{
  width: 360px;
  min-height: 250px;
  flex-shrink: 0;
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  /* gap: 30px; */
  box-shadow: 0 1px 5px rgb(21, 21, 21,.3);
  transition: transform .5s;
}
/* .ourMarketplace_wrap_body_card:nth-of-type(1){
  background-color: #f3f1ff;
}
.ourMarketplace_wrap_body_card:nth-of-type(2){
  background-color: #fff1f7;
}
.ourMarketplace_wrap_body_card:nth-of-type(3){
  background-color: #f2f8ff;
}
.ourMarketplace_wrap_body_card:nth-of-type(4){
  background-color: #fef5f1;
}
.ourMarketplace_wrap_body_card:nth-of-type(5){
  background-color: #f2fffb;
}
.ourMarketplace_wrap_body_card:nth-of-type(6){
  background-color: #fcf4ff;
} */
.ourMarketplace_wrap_body_card:hover{
  transform: translateY(-5px);
}
.ourMarketplace_wrap_body_card_icon{
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ourMarketplace_wrap_body_card_icon .ourMarketplace_ico{
  font-size: 2rem;
}
.ourMarketplace_wrap_body_card_title{
  font-size: 1.4rem;
  font-weight: 600;
}
.ourMarketplace_wrap_body_card_dec{
  padding: 0 1rem;
  text-align: justify;
}


.howitwork_container{
  
  position: relative;
}
.textureimg{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.textureimg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: opacity(.4);

}
.howitwork_container_wrap{
  padding: 4rem 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 10px;
}
.howitwork_container_wrap_head{
  width: 50%;
  flex-shrink: 0;
}

.howitwork_container_wrap_head_title{
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.howitwork_container_wrap_head_des{
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.howitwork_container_wrap_img_holder{
  width: 40%;
  flex-shrink: 0;
}
.howitwork_container_wrap_img_holder img{
  max-width: 100%;
  object-fit: cover;
}
.howitwork_container_wrap_head_card{
  /* border: 1px solid rgb(188, 188, 188); */
  margin: 1rem 0;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  background-color: white;
  cursor: default;
  transition: box-shadow .5s;
  box-shadow: 0 2px 4px rgb(179, 179, 179,.4);
}

.howitwork_container_wrap_head_card:hover{
  box-shadow: 0 5px 10px rgb(179, 179, 179,.4);
}
.howitwork_container_wrap_head_card:hover .howitwork_container_wrap_head_card_icon-holder{
  transform: rotate(360deg) scale(1.5);
}
.howitwork_container_wrap_head_card_icon-holder{
  background-color: var(--color-bglight-dashboard);
  color: white;
  display: inline-block;
  padding: 1rem;
  border-radius: 50%;
  font-weight: 600;
  font-size: 1.2rem;
  font-style: italic;
  transition: transform .5s;
}
.howitwork_container_wrap_head_card_title{
  font-size: 1.5rem;
  font-weight: 500;
}

.howsworkbacktexture{
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0.5;
  transform: rotate(50deg);
  z-index: -1;
  max-width: 100%;
  object-fit: cover;

}


.testimonial_container{
  /* background-color: rgba(0, 255, 255, 0.137); */
  width: 100%;
  min-height: 500px;
  margin-bottom: 3rem;
  position: relative;
}

.testimonial_container_wrap{
  /* padding: 2rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial_container_wrap_title{
  /* width: fit-content; */
  text-align: center;
  position: relative;
  color: var(--color-bglight-dashboard);
  line-height: 2rem;
}
.testimonial_container_wrap_title::before{
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  background-color: var(--color-bglight-dashboard);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  transition: width .5s,opacity 1s;
}

.testimonial_container_wrap_title:hover::before{
  width: 100%;
  opacity: 1;
}

.testimonial_container_wrap_sub-title{
  font-size: 2rem;
  font-weight: 600;
}
.testimonial_container_wrap_card_holder{
  position: relative;
  width: 100%;
  height: 100%;
}
.testimonial_card_arrow{
  position: absolute;
  width: 50px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: fit-content;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color .5s ,color .5s;
}
.testimonial_card_arrow:hover{
  background-color: rgb(210, 210, 210,.9);
  color: white;
}
.testimonial_card_arrow_left{
  left: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.testimonial_card_arrow_right{
  right: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.testimonial_card_arrow_right,.testimonial_card_arrow_left{
  background-color: rgb(210, 210, 210,.5);
  padding: 2rem 1rem;
  z-index: 1;
}
.testimonial_container_wrap_card_holder_wrap{
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* background-color: aqua; */
  padding: 2rem;
  gap: 50px;
}


.testimonial_container_wrap_card{
  /* position: absolute; */
  width: 400px;
  flex-shrink: 0;
  /* margin: 1rem; */
}
.cardmove{
  right: -80px;
}
.testimonial_container_wrap_card_img-holder{
  width: 200px;
  height: 200px;
  transform: translateY(30px);
  border: 7px solid white;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  
}
.testimonial_container_wrap_card_img-holder img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonial_container_wrap_card_details{
  width: 100%;
  height: 200px;
  background-color: var(--color-bglight-dashboard);
  color: white;
  padding: 1rem;
  border-radius: 10px;
  position: relative;
  padding-top: 5rem;
  z-index: -1;
  box-shadow: 0 5px 5px rgb(179, 179, 179,.5);
}
.testimonial_container_wrap_card_details .quotes{
  position: absolute;
  right: 20px;
  top: 10px;
  opacity: .5;
}

.testimonial_container_wrap_card_details_title{
  font-weight: 600;
  font-size: 1.2rem;
  margin: .5rem 0;
}


.footer{
  background-color: var(--color-bglight-dashboard);
  width: 100%;
  min-height: 200px;
  /* height: 200px; */
  margin-top: 100px;
  padding: 100px 0;
  box-shadow: 0 -5px 10px rgb(0, 0, 0,.2);
  color: #ffffff;
  position: relative;
}
.testmonialsvg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
  opacity: .5;
}
.footerwhitedottexture{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
  opacity: .25;
}
.footer1svg{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  mix-blend-mode: color;
  opacity: .6;
}
.footer_wrap{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  position: relative;
  z-index: 2;
}
.col-1, .col-2, .col-3, .col-4{
  padding: 2rem;
  width: 280px;
}
.footer_head{
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  text-transform: capitalize;
  margin: 1rem 0;
}
.col-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.col-1 .col-1_logo{
  flex-shrink: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-1_subtitle{
  text-align: justify;
}
.logofooter{
  width: 60%;
}
.col-2 ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  list-style-type: none;
}

.col-4 form{
  position: relative;
  width: 100%;
  height: 45px;
  border-radius: 5px;
  margin: 1rem 0;
}
.col-4 form input{
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border-color: rgb(0, 0, 0,.2);
  padding-left: .5rem;
}
.col-4 form button{
  position: absolute;
  right: 2px;
  top: 0;
  bottom: 0;
  margin: auto;
  border: none;
  border-radius: inherit;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.subfooter{
  border-top: 1px solid rgb(0, 0, 0,.2);
  border-bottom: 1px solid rgb(0, 0, 0,.2);
  background-color: #98639d;
  display: flex;
  flex-wrap: wrap;
  min-height: 60px;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  padding: 1rem;
  color: white;
}

@media only screen and (max-width: 1370px){
    .howitwork_container_wrap{
      flex-direction: column;
    }
    .howitwork_container_wrap_head{
      width: 80%;
      margin: auto;
    }
    .howitwork_container_wrap_img_holder{
      width: 80%;
      margin: auto;
    }
}

@media only screen and (max-width: 1187px){
  nav .nav-wrapper{
    justify-content: space-between;
    padding: 0 1rem;
  }
  nav .nav-wrapper .nav-links{
    width: 80%;
    gap: 30px;
  }
}
@media only screen and (max-width: 860px){
  nav .nav-wrapper .nav-links{
    display: none;
  }
  .mobile-nav{
    display: flex;
  }
  nav .nav-wrapper{
    padding: 0 3rem;
  }
  .nav-mob-bar{
    display: unset;
  }
}
@media only screen and (max-width: 769px){
  .howsworkbacktexture{
    width: 200px;
    height: 150px;
    top: 60px;
  }
}
@media only screen and (max-width: 662px){
  .slide-text{
    font-size: 1.5rem;
    /* line-height: 2rem; */
    font-weight: 600;
  }
  .slide-text div span::before {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}
@media only screen and (max-width: 477px){
  .slide-text{
    font-size: 1.1rem;
    /* line-height: 2rem; */
    font-weight: 700;
    /* line-height: 2rem; */
    letter-spacing: .4rem;
  }
  .testimonial_container_wrap_card{
    width: 300px;
  }
}
@media only screen and (max-width: 426px){
  .howitwork_container_wrap_head{
    width: 100%;
  }
  .howitwork_container_wrap_head_card{
    flex-direction: column;
    padding: 1rem;
  }
  
}
@media only screen and (max-width: 370px){
  .ourMarketplace_wrap_body_card{
    width: 300px;
  }
  .slide-text{
    font-size: .8rem;
    font-weight: 700;
    letter-spacing: .4rem;
  }
  .testimonial_container_wrap_card{
    width: 250px;
  }
  .testimonial_container_wrap_card_img-holder{
    width: 150px;
    height: 150px;
  }
  .testimonial_container_wrap_card_details{
    height: fit-content;
  }
  .testimonial_container_wrap_card_details .quotes{
    top: 35px;
  }
}

