@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
  --color-white:#faf9fa;
  --color-dark-purple :#200525;
  --color-bg-dashboard : #611f69;
  --color-bglight-dashboard : #8c4c93;
  --color-primary : #4ba4ff;
  --color-yellow: #FFB72B;
  --color-gray-gray: #645a65;
  --color-light-pink: #dfd2e1;
  --color-text:#645a65;
  --color-success :#52ccb4;
  --color-red:#f54456;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

.paymentPage{
    /* background-color: #4ba4ff; */
    width: 100%;
    height: 100vh;
    padding: 1rem;
    background-color: rgb(245, 245, 245);
}
.payment-holder{
    width: 80%;
    height: 100%;
    /* background-color: #4ba4ff; */
    margin: auto;
}
.paymentPage_head{
    border-bottom: 1px solid rgb(203, 203, 203);
    padding-bottom: 1.5rem;
}
.order{
    width: 100%;
    min-height: 60px;
    background-color: rgb(255, 255, 255);
    margin: 1rem 0;
    box-shadow: 0 3px 5px rgb(0, 0, 0,.5);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
.order :first-child{
    font-size: 1.2rem;
    font-weight: 500;
    font-style: italic;
}
.order :last-child{
    font-size: 1.3rem;
    font-weight: 600;
}
.playmentCard{
    width: 100%;
    /* height: calc(100vh - 135px); */
    height: calc(100% - 135px);
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgb(0, 0, 0,.4);
    position: relative;
}
.playmentCard_backgound_circile2{
    position: absolute;
    bottom: 0;
    right: 0px;
}
.playmentCard_backgound_circile1{
    position: absolute;
    top: 0;
    left: -25%;
    right: 0;
    margin: auto;
}
.playmentCard-holder{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: inherit;
    overflow: hidden;
}
.playmentCard-holder .cardimg{
    position: absolute;
    max-width: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 400px;
    object-fit: cover;
    z-index: 1;
    left: -100px;
}
.playmentCard-left{
    width: 30%;
    height: 100%;
    background-color: #611f69;
    transform: skewX(-20deg);
}
.card_container{
    width: 100%;
    /* min-height: 50%; */
    height: 100%;
    display: flex;
    justify-content: row;
    /* background-color: #4ba4ff; */
    /* position: relative; */
} 
.playmentCard-right{
    width: 60%;
    height: 100%;
}


.Select_Payment_Option{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    padding: 1rem;
}
.payemntSelect_holder{
    border: 1px solid rgb(177, 177, 177);
    /* padding: .5rem 1rem; */
    border-radius: 5px;
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    z-index: 1;
}

.payemntSelect{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* .payemntSelect_holder:hover .payemntOption{
    opacity: 1;
    visibility: visible;
}
.payemntSelect_holder:hover .dropoptionico{
    transform: rotate(180deg);
} */
.payemntOption{
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    right: 0;
    border-radius: inherit;
    box-shadow: 0 5px 5px rgba(32, 32, 32, 0.2);
}
.payemntOption>div{
    padding: .5rem;    
}
.payemntOption>div:not(:last-child){
    border-bottom: 1px solid rgb(203, 203, 203);
}
.payemntOption>div:hover{
    background-color: rgb(237, 237, 237);
    cursor: pointer;
}

.card_container form{
    flex-grow: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    transform: translateY(-30px);
}
.card_container form div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.card_container form button{
    align-self: flex-end;
    /* width: 100%; */
    padding: 0 4rem;
    font-size: 1rem;
    height: 50px;
    background-color: var(--color-bglight-dashboard);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color .3s;
}
.card_container form button:hover{
    background-color: #611f69;
}
.card_container form input{
    width: 100%;
    height: 50px;
    border: 1px solid rgb(184, 184, 184);
    padding-left: 1rem;
    border-radius: 10px;
}
.card_container form input:focus{
    outline: 1px solid var(--color-bglight-dashboard);
}
.card_container .Debitcard-Anime{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Debitcard-Anime .Card{
    width: 500px;
    height: 250px;
    border-radius: 20px;
    background-color: rgb(104, 74, 67);
    position: relative;
    overflow: hidden;
    color: white;
    box-shadow: 0 5px 5px rgb(0, 0, 0,.2);
}
.Debitcard-Anime .Card .tex1{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .4;
    z-index: 1;
    /* transform: rotate(90deg); */
    object-position: bottom;
}
.Debitcard-Anime .Card .tex2{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .3;
    z-index: 1;
}
.Debitcard-Anime .Card .Card-info{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    z-index: 2;
}
.Debitcard-Anime .Card .chip{
    width: 50px;
    transform: rotate(90deg);
    top: 40px;
    left: 50px;
    object-fit: cover;
}
.Debitcard-Anime .Card .text-mastercard{
    font-size: 1.1rem;
    font-weight: 600;
    align-self: end;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 5px;
}
.Debitcard-Anime .Card .text-mastercard img{
    width: 50px;
}

.Card-info .cardNumber{
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: .6rem;
}

.Card-info .cardotherdetail{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Card-info .cardotherdetail .cardexp{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.Card-info .cardotherdetail .cardcvv{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.Card-info .cardotherdetail .cardcvv span:last-child{
    background-color: #8f8f8f;
    padding: .5rem 1rem;
    border-radius: 10px;
}





/* @media only screen and (max-width: 1130px){
    .card_container{
        flex-direction: column-reverse!important;
    }
} */

@media only screen and (max-width: 1080px){
    .payment-holder{
        width: 90%;
    }
    .playmentCard-holder .cardimg{
        left: -30px;
        width: 350px;
    }
}
@media only screen and (max-width: 920px){
    .payment-holder{
        width: 100%;
    }
    .playmentCard{
        height: 100%;
    }
    .playmentCard-holder{
        flex-direction: column;
    }
    .playmentCard-left{
        width: 100%;
        height: 30%;
    }
    .playmentCard-right{
        width: 100%;
        height: 70%;
    }
    .playmentCard-holder .cardimg{
        left: 0;
        top: 30px;
        right: 0;
        margin: 0 auto;
        width: 200px;
    }
}
